@{
    ViewBag.Title = "Games Archive";
}
@using GuessTheNumberEF.Data.Entities
@model IEnumerable<Game>

<h2>Games Archive</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Number Was</th>
            <th>Initiator</th>
            <th>Winner</th>
            <th>Started</th>
            <th>Finished</th>
            <th>Players Was</th>
            <th></th>
        </tr>
    </thead>
    @if (Model.Count() == 0)
    {
        <tr>
            <td></td>
            <td></td>
            <td><h3>No games saved yet(</h3></td>           
        </tr>
    }
    <tbody>
        @{
            string rowClass = "";
        }
        @foreach (var m in Model)
        {
            rowClass = "";
            if (m.WinnerName != null)
            {
                if (m.Log.Any(l=>l.PlayerName == ViewBag.PlayerName) || m.AuthorName == ViewBag.PlayerName)
                {
                    rowClass = "info";
                }
                if (m.WinnerName == ViewBag.PlayerName)
                {
                    rowClass = "success";
                }
                <tr class="@rowClass">
                    <td>@m.Id</td>
                    <td>@m.Number</td>
                    <td>@m.AuthorName</td>
                    <td>@m.WinnerName</td>
                    <td>@m.Start</td>
                    <td>@m.End</td>
                    <td>@m.PlayersCount</td>
                    <td><a href="@Url.Action("GameDetails", "Archive", new { gameId = @m.Id})" class="btn btn-info" role="button">Details</a></td>
                </tr>
            }
            else
            {
                <tr>
                    <td>@m.Id</td>
                    <td>@m.Number</td>
                    <td>@m.AuthorName</td>
                    <td>The game was restarted</td>
                    <td>@m.Start.ToString()</td>
                    <td>@m.End.ToString()</td>
                    <td>@m.PlayersCount</td>
                </tr>
            }
        }
    </tbody>
</table>

