@{
    ViewBag.Title = "Game Details";
}
@using GuessTheNumberEF.Data.Entities
@model Game

<h2>Game Details</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Number In Try</th>
            <th>Number Was</th>
            <th>Player Name</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        @{
            string rowClass = "";
            int bestTry = 0;
            int diff = int.MaxValue;
            foreach(var entry in Model.Log)
            {
                if (entry.PlayerName == ViewBag.PlayerName)
                {
                    if(diff > Math.Abs(entry.Number - Model.Number))
                    {
                        diff = Math.Abs(entry.Number - Model.Number);
                        bestTry = entry.Number;
                    }
                }
            }
        }
        @foreach (var entry in Model.Log)
        {
            rowClass = "";
            if (entry.PlayerName == ViewBag.PlayerName)
            {
                if(entry.Number == bestTry)
                {
                    rowClass = "success";
                }
                else
                {
                    rowClass = "info";
                }
            }
            <tr class="@rowClass">
                <td>@entry.Id</td>
                <td>@entry.Number</td>
                <td>@Model.Number</td>
                <td>@entry.PlayerName</td>
                <td>@entry.Time</td>
            </tr>
        }
    </tbody>
</table>
