@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

@{
    ViewData["Title"] = localizer["Current temperature from any city"];
}
@model IEnumerable<CityWeatherInfo>

<div class="page-header text-center">
    <h1>@localizer["Current temperature from any city"]</h1>
</div>
<a asp-area="" asp-controller="Weather" asp-action="AddCity" class="btn btn-info btn-block btn-lg">@localizer["Add new city to list"]</a>
<br />
<div class="row">
    @foreach (var item in Model)
    {
        @await Component.InvokeAsync("City", new { data = item })
    }
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@localizer["Confirm Delete"]</h4>
            </div>
            <div class="modal-body">
                <p>@localizer["Are you sure you want to delete this city from your list?"] <b id="CityName"></b></p>
            </div>
            <div class="modal-footer">
                <form asp-controller="Weather" asp-action="RemoveCity" method="post" class="form-inline" role="form">
                    <input type="hidden" id="city" name="city">
                    <button type="submit" class="btn btn-warning pull-left"><span class="glyphicon glyphicon-trash"></span> @localizer["Delete"]</button>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">@localizer["Close"]</button>
                </form>
            </div>
        </div>
    </div>
</div>
